<header class="header">
  <div class="header-logo-wrapper">
    <div class="header-logo-image">
      <a href="https://rkvst.com" title="RKVST Website">
        {{!-- full logo for desktop --}}
        <img src="{{asset 'logo.png'}}" width="100">
      </a>
    </div>
    <div class="header-logo-title">
      <a href="/hc/en-us" title="RKVST Support">support</a>
    </div>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false"
      aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community' class='community-link'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</header>